services:
  auth-postgres:
    container_name: auth_postgres
    image: postgres:16-alpine
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES__USER}
      POSTGRES_PASSWORD: ${POSTGRES__PASSWORD}
      POSTGRES_DB: ${POSTGRES__DB}
    ports:
      - "5435:5432"
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    networks:
      - auth_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 3s
      timeout: 3s
      retries: 3
    restart: unless-stopped

  auth-redis:
    image: redis:7-alpine
    container_name: auth_redis
    ports:
      - "6379:6379"
    volumes:
      - auth_redis_data:/data
    networks:
      - auth_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  auth-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_api
    env_file:
      - .env
    expose:
      - "8000"
    depends_on:
      auth-postgres:
        condition: service_healthy
      auth-redis:
        condition: service_healthy
    networks:
      - auth_network
      - shared_infra
    restart: unless-stopped

volumes:
  auth_postgres_data:
    driver: local
  auth_redis_data:
    driver: local

networks:
  auth_network:
    driver: bridge
    name: auth_network
  shared_infra:
    external: true
    name: shared_infra

